<html>
<head>
    <meta charset="UTF-8">
    <title>Все продукты</title>
    <link rel='stylesheet' href='public/css/style.css'>
</head>
<body>
<%- include ('blocks/header.ejs') -%>
<div class="block">
    <p>Все продукты:</p>
    <form action='/add_product'>
        <button type="submit">Добавить</button>
    </form>
    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Артикул</th>
            <th>Тип</th>
            <th>Наименование</th>
            <th>Торговая марка</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <% products.forEach(function(product) { %>
            <tr>
                <td><%= product._id %></td>
                <td><%= product.article %></td>
                <td><%= product.type %></td>
                <td><%= product.name %></td>
                <td> <%= product.trademark %></td>
                <td>
                    <form action="/edit_product/<%= product._id %>">
                        <button type="submit">Изменить</button>
                    </form>
                </td>
                <td>
                <td>
                    <form action="/delete_product/<%= product._id %>" method="post">
                        <button type="submit">Удалить</button>
                    </form>
                </td>
                </td>
            </tr>
        <% }); %>
        </tbody>
    </table>
</div>
</body>
</html>
